.cursor {
    position: absolute;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;

    transition: 0.3s ease-out;
}